<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{# con asset cargamos recursos de nuestra carpeta publica, asset ubica el puntero en la carp publica, asi como render que ubica el puntero en la carpe templ #}
			{# da error la ruta xq symf asume que usamos web pack encore #}
			<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"> <link rel="stylesheet" href="{{asset('css/main.css')}}">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1344652070596566"></script>
		{% endblock %}
		{# {% block javascripts %} #}
	{# {% block importmap %} #}
		{# {{ importmap('app') }} #}
		{# {% endblock %} #}
		{# {% endblock %} #}
	</head>
	<body>
		{% block body %}
		{# hola mundo, desde la base #}
		<nav class="navbar navbar-expand-lg navbar-light">
			<div
				class="container">
				{# <a class="navbar-brand" href="{{path('index')}}"><img src="{{ asset('img/6392506.png') }}" alt="logo" width="50"></a> #}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-microphone"></i>
								Podcast
							</a>
						</li>
					</ul>
					<ul class="navbar-nav my-lg-0">
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa-solid fa-user"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									{#                                <a href="{{ path('app_user', {id: app.user.id}) }}" class="dropdown-item">#}
									{#                                    Perfil#}
									{#                                </a>#}
									{# <a class="dropdown-item" href="{{ path('app_logout') }}"> <i class="fa-solid fa-right-from-bracket"></i> #}Logout
							</a>
						</li>
					</div>
					</li>
				{% else %}
					<li>
						{# <a class="nav-link" href="{{path('userRegistration')}}"> #}
						<i class="fa-solid fa-user-plus"></i>Registrate
					</li>
				</a>
			</li>
			<li
				class="nav-item">
				{# <a class="nav-link" href="{{path('login')}}"> #}
				<i class="fa-solid fa-right-to-bracket"></i>Login
			</li>
		</a>
	</body>
</html></li>{% endif %}</ul></div></div></nav>{% endblock %}{% block javascripts %}<script src="{{ asset('js/jquery.min.js') }}"></script><script src="{{ asset('js/bootstrap.min.js') }}"></script><script src="https://kit.fontawesome.com/f6edb77282.js" crossorigin="anonymous"></script>{% endblock %}</body>{# *twig: es un template engine, es un software de plantillas que puede combinar plantillas con modelos de datos #}{# Osea una plantilla con la cual podemos manipular ciertos datos. Los devs de symfony usaron la idea de dejar de escribir php #}{# dentro de las plantillas y tener una mejor forma de hacerlo con twig, gracias a esto podemos utilizar los datos que recibimos del ctrl #}{# y tmb podemos combinarlo con hmtl #}</html>
